@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arkitech"; /* Give your font a name */
  src: url("/fonts/Arkitech\ Bold.ttf") format("woff2"),
    url("/fonts/Arkitech\ Light.ttf") format("woff"),
    url("/fonts/Arkitech\ Medium.ttf") format("woff"),
    url("/fonts/Arkitech\ Round\ Light.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Arkitech", sans-serif;
  font-weight: normal;
}
